/* -----------------------------------------------------
   TAILWIND CORE
----------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------------------------------------
   RESET SUAVE
----------------------------------------------------- */

body {
  @apply font-sans antialiased bg-white text-black;
}
